<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="IOTKey" value="HostName=SpyCameraIOT.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=bsiAKjVgsMcHYg033tEgkHqy0UOmhb51FV5a1pe+rBE=" />
    </appSettings>
</configuration>